a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html{
  font-size: 62.5%;
}

/* DEFAULT STRIPPING -------------------------------------------------------- */
button {
  border: none;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}


#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* background-image: linear-gradient(#d03529, #ededc3); */
  /* --main-logo-color:#d03529;
  --main-body-color:#ededc3;
  --main-highlight-color:#e7635d; */
}

body {
   background-image: linear-gradient(#d03529, #ededc3);
   color:#e7635d;
   font-size: 2rem;
   text-align: center;
   font-family: 'Barlow', sans-serif;
}

.titleContainer{
   display: flex;
   justify-content: center;
  color:#e7635d;
  font-size: 2rem;
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

h1 {
   font-family: 'Cormorant Garamond', serif;
   font-size: 1rem;  /* TODO: responsive font size */
   margin: 2rem 0;
   color: #ededc3;
   /* letter-spacing: 3rem; */
}

.wrapper{
   width: 90%;
   min-width: 320px;
   max-width: 1400px;
   margin:0 auto;
}

/*----------------------------------------------Header----------------------------------------------*/
.headerContainer img {
   opacity: 0;
   position: absolute;
   top: 2%;
   left: 5%;
   animation: fadeIn ease 3s 3s forwards;
 }

 .logo {
   background-color: #E7635D;
   border: 3px solid #ededc300;
   border-radius: 50%;
   padding: 0.5rem;
   width: 10rem;
}

.logo:hover{
   border: 3px dotted #ededc3;
   border-radius: 50%;
}

/*----------------------------------------------HOME----------------------------------------------*/

.homeContainer{
   padding-top: 5%;
   height: 75%;
}

.homeContainer h1 {
  color: #ededc3;
  margin-top: 100px;
  font-size:calc(17px + 6vw);
  text-transform: uppercase;
  animation: fadeIn ease 3s;
  text-shadow: 2px 2px 2px #000000;
}

.homeContainer p {
  font-family: 'Barlow', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size:calc(12px + 1.5vw);
  opacity: 0;
  color: #d03529;
  animation: fadeIn ease 3s 1s forwards;
}

.startButton {
   color: #f9f9ed;
   opacity: 0;
   margin-top: 10%;
   padding: 2rem 3rem;
   font-size: 4.5rem;
   background-color: #d03529;
   border: 2px solid #ededc3;
   animation: fadeIn ease 3s 3s forwards;
   border-radius: 50%;
}
.startButton:hover {
   border: 2px solid #d03529;
   background-color: #ededc3;
   color: #d03529;
}

.titleContainer span{
  display: flex;
  letter-spacing: -0.1rem;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*----------------------------------------------CATEGORY----------------------------------------------*/
.categoryContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.categoryItem {
  background-color: #f9f9ed;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.categoryImg {
  width: 100%;
  margin: 0 auto;
}

.categoryImg img {
  width:100%;
  height: 400px;  /* TODO: handle this height across devices */
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
}
.categoryContainer a {
  width: calc(100%/3);
}
h3 {
   color: #ededc3;
   /* font-style: italic; */
   font-size: 4rem;
   letter-spacing: 1.6rem;
   margin: 5rem 0;
}
.categoryItem h4 {
  padding: 10px;
  letter-spacing: 1rem;
}
.categoryItem:hover{
   background-color: #ededc3;
}

/*-------------------------------------------------Form----------------------------------------------*/

.slidePreview {
   background-color: red;
   max-width: 30%;
   
}

.slidePreview h2 {
   font-size: 7rem;
   font-style: italic;
}

.slideImgContainer img {
   width: 100%;
}

/*-------------------------------------------------Slideshow----------------------------------------------*/
.slideshowBackground{
   background-color: black;
   position: relative;
}

.slideshowBtnRight,
.slideshowBtnLeft {
   background-color: #E7635D;
   font-weight: bold;
   font-size: 3rem;
}

.slideshowContainer{
   display: flex;
   justify-content: center;
}

.slideImg {
  width: 100vw;
  height: 100vh;
}
.slideImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*-----------------------------Ending Component-------------------------------*/
.endingSlide {
   margin-top: 50vh;
   margin-bottom: 10vh;
}

.endingMessage{
  font-family: 'Barlow', sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  letter-spacing: 1.1rem;
  color:#f9f9ed;
  text-shadow: 2px 2px 2px #1c0b0a;
  position:relative;
  left:50%;
  transform: translate(-50%, -50%);
}
.endingMessage h2 {
   margin: 2rem 0;
}

.saveSlides{

}
/* General button styling */
.loadBtn,
.saveBtn,
.replayBtn {
   font-family: 'Barlow', sans-serif;
   font-size: 2rem;
   margin: 2rem 4rem;
   padding: 1rem;
   border-radius: 1.5rem;
}
.replayBtn,
.saveBtn {
   background-color: #d03529;
   color: #f9f9ed;
}
.saveBtn:focus,
.saveBtn:hover{
   background-color: #E7635D;
   color: #ededc3;
}
.replayBtn:focus,
.replayBtn:hover{
   background-color: #E7635D;
   color: #ededc3;
}
.loadBtn {
   background-color: #E7635D;
   color: #ededc3;
}
.loadBtn:focus,
.loadBtn:hover {
   background-color: #ededc3;
   color: #E7635D;
}

.imageContainer {
  height: 100vh;
}

.quoteContainer{
  position:absolute;
  bottom: 7rem;
  right: 4rem;
  border-radius: 1.5rem;
  width: 35%;
  text-align: left;
  color: white;
  background-color: hsla(0, 7%, 32%, 0.6);
  padding: 25px;
  text-shadow: 2px 2px 2px #000000;
}

.quoteContainer p{
  font-size:calc(12px + 0.8vw);
}

/* slideshow speed change */
.slideSpeed {
   position: absolute;
   bottom: 1rem;
   right: 4rem;
   border-radius: 1.5rem;
   background-color: #E7635D;
}
.slideSpeedBtn{
  background-color: inherit;
  color: #f9f9ed;
  font-size: 2rem;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 1.5rem;
}
.slideSpeedBtn:hover:enabled,
.slideSpeedBtn:focus:enabled{
  background-color: #f9f9ed;
  color: #E7635D;
}
.slideSpeedActiveBtn{
  background-color: #f9f9ed;
  color: #E7635D;
}

/*-------------------------------------------------FOOTER----------------------------------------------*/
footer {
  color: #f9f9ed;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
  height: 3vh;
  height: 32px;
  background-color: black;
  padding: 3px;
}

/*------------------------------------------------CategoryForm---------------------------------------*/
.formContainer{
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 30px);
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.loadSlides{
   text-align: right;
}
.categoryName h2{
  font-size: 8rem;
  font-weight: bold;
  color:#ededc3;
  text-shadow: 2px 2px 2px #d03529;
  font-family: 'Cormorant Garamond', serif;
}
.categoryForm{
   width:40%;
   align-self: flex-end;
   margin-bottom:50px;
   background-color: rgb(237, 237, 196);
   padding:2rem;
   border-radius: 15px;
}
.categoryForm legend{
  margin-bottom: 20px;
  font-size: 3rem;
  color:#d03529;
  font-weight:bold;
  width:100%;
  text-align: center;
}
.noteTextArea{
  margin-bottom: 20px;
  width:100%;
}
.noteTextArea textarea{
  border:none;
  resize: none;
  outline:none;
  width:100%;
  height: 50px;
  line-height: 50px;
  font-size: 3rem;
  border-radius: 15px;
  background-color: #f9f9ed;
  border:#e7635d 2px;
  padding:0 1rem;
}
.noteTextArea textarea:focus,
.noteTextArea textarea:active{
  outline:#d03529 solid 1px;
}

.slideshowStartBtn{
  height: 50px;
  outline:none;
  background: #e7635d;
  border-radius: 15px;
  padding:1rem;
  color:#ededc3;
}
.slideshowStartBtn:hover,
.slideshowStartBtn:focus{
  background: #d03529;
  outline:#d03529 solid 1px;
  outline-offset: 2px;
}
::placeholder {
  color: #e7635d;
  font-size: 2rem;
}

/*------------------------------------------------MEDIA QUERIES---------------------------------------------*/


/* Portrait tablet and small desktops */
@media only screen and (max-width: 940px) {
  .category {
    display: flex;
    flex-direction: column;
  }
  .category h3 {
    text-align: right;
    width: 70%;
    align-self: flex-end;
    font-size: 3rem;
    margin-bottom: 0;
    letter-spacing: 1rem;
  }
  .categoryContainer {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .categoryContainer a {
    width: 50%;
  }
  .categoryImg img {
    height: 300px;
  }
  .logo {
    width: 7rem;
}
}

/* Landscape phone to portrait tablet */
@media only screen and (orientation: portrait) and (max-width: 768px) {
  .categoryContainer {
    flex-direction: column;
  }
  .categoryContainer a {
    width: 100%;
  }
  .categoryName {
    margin: 0;
    align-self: flex-end;
  }
  .categoryName h2 {
    font-size: 7rem;
  }
  .formContainer {
    flex-direction: column;
    align-content: center;
  }
  .categoryForm {
    width: 90%;
  }
  .quoteContainer{
    width: 60%;
  }
  .category h3 {
    letter-spacing: 0.5rem;
    text-align: left;
    width: 70%;
  }
  .slideshowContainer{
    display: block;
 }
  .slideshowBtnRight, .slideshowBtnLeft {
    position: absolute;
    bottom: 1rem;
    border-radius: 10px;
    padding: 5px 20px;
    height: 48px;
  }
  .slideshowBtnRight {
    right: 1%;
  }
  .slideshowBtnLeft {
    left: 1%;
  }
  .slideSpeed {
    left: 0; 
    right: 0;
    width: 75%;
    margin-left: auto; 
    margin-right: auto;
  }
  .headerContainer img {
    left: 2%;
    }
    .quoteContainer {
      margin-left: auto; 
      margin-right: auto; 
      left: 0; 
      right: 0;
      width: 75%;
    }
}

/* Landscape phones and down */
@media only screen and (orientation: portrait) and (max-width: 480px) {
  .categoryContainer {
    margin-top: 5%;
  }
  .quoteContainer {
    margin-left: auto; 
    margin-right: auto;
    left: 0; 
    right: 0;
    width: 80%;
  }
  .slideshowBtnRight, .slideshowBtnLeft {
    padding: 5px 12px;
  }
  .category h3 {
    margin-top: 7%;
  }
  .categoryName h2{
    font-size: 5rem;
  }
}

@media only screen and (orientation: landscape) and (max-device-width: 1200px) {
  .categoryImg img {
    height: 300px;
  }
}
@media only screen and (orientation: landscape) and (max-device-width: 850px) {
  .homeContainer h1 {
    margin-top: 1%;
  }
  .category {
    display: flex;
    flex-direction: column;
  }
  .categoryContainer {
    margin-top: 4%;
    margin-bottom: 2%;
  }
  .categoryContainer a {
    width: calc(100% / 3);
  }
  .category h3 {
    text-align: right;
    margin-top: 5%;
    margin-bottom: 0%;
    width: 80%;
    align-self: flex-end;
  }
  .categoryForm {
    height: 80vh;
    width: 65%;
    margin: 5px 5px 5px 10px;
  }
  .noteTextArea textarea{
    height: 35px;
    line-height: 35px;
    font-size: 2rem;
  }
  .slideshowStartBtn{
    height: 40px;
    padding: 0.8rem;
  }
  .categoryName h2{
    font-size: 5rem;
  }
  .startButton {
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 1.4rem 2.1rem;
  }
  .categoryImg img {
    height: 160px;
  }
}