a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html{
  font-size: 62.5%;
}

/* removing this --------------------------------
/ main{
/   background-image: url(./assets/background-img-by-mona-eendra.jpg);
/   background-repeat: no-repeat;
/   background-size: cover;
/   height: 100vh;
/ }
----------------------------------------------- */

/* DEFAULT STRIPPING -------------------------------------------------------- */
button {
  border: none;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: linear-gradient(#d03529, #ededc3);
  /* --main-logo-color:#d03529;
  --main-body-color:#ededc3;
  --main-highlight-color:#e7635d; */
}

body {
  /* background-color: #ededc3; */
  color:#e7635d;
  font-size: 2rem;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  /* font-family: 'Barlow', sans-serif;
  font-family: 'Cormorant Garamond', serif; */
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 6rem;  /* TODO: responsive font size */
  margin: 25px 0;
  color: #ededc3;
}

.wrapper{
  width: 90%;
  min-width: 320px;
  max-width: 1400px;
  margin:0 auto;
}
/*----------------------------------------------HOME----------------------------------------------*/
/* i::before{
  background:transparent
}
i {
  text-shadow: 2px 2px #000000;
  color:white;
  font-size: 8rem;
} */

.homeContainer{
  padding-top: 5%;
  height: 95%;
}
.homeContainer h1 {
  margin-top: 100px;
  font-size:calc(20px + 6vw);
  text-transform: uppercase;
  color: red;
  animation: fadeIn ease 3s;
  text-shadow: 2px 2px 2px #000000;
}
.homeContainer p {
  font-family: 'Barlow', sans-serif;
  font-size:calc(12px + 1.5vw);
  opacity: 0;
  color: #E7635D;
  animation: fadeIn ease 3s 1s forwards;
}
.headerContainer img {
  opacity: 0;
  position: absolute;
  top: 3%;
  left: 7%;
  animation: fadeIn ease 3s 3s forwards;
}
.startButton {
  opacity: 0;
  margin: 5%;
  padding: 10px 50px;
  background-color: red;
  border: 2px solid black;
  animation: fadeIn ease 3s 3s forwards;
}
.startButton:hover {
  border: 2px solid #f9f9ed;
  color: #f9f9ed;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}





/*----------------------------------------------CATEGORY----------------------------------------------*/
.categoryContainer{
  display:flex;
  justify-content:space-evenly;
}

.categoryItem {
  background-color: #f9f9ed;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.categoryImg {
  width:100%;
  margin: 0 auto;
}

.categoryImg img {
  width:100%;
  height: 400px;  /* TODO: handle this height across devices */
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
}

.categoryItem h3 {
  padding: 10px;
}
.categoryItem:hover{
   background-color: #ededc3;
}

/*-------------------------------------------------Form----------------------------------------------*/

.slidePreview {
   background-color: red;
   max-width: 30%;
   
}

.slidePreview h2 {
   font-size: 7rem;
   font-style: italic;
}

.slideImgContainer img {
   width: 100%;
}

/*-------------------------------------------------Slideshow----------------------------------------------*/
.slideshowBackground{
   background-color: black;
   position: relative;
}

.slideshowBtnRight,
.slideshowBtnLeft {
   background-color: #E7635D;
}

.slideshowContainer{
   display: flex;
   justify-content: center;
}

.slideImg {
  width: 100vw;
  height: 100vh;
}
.slideImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.endingMessage{
  font-family: 'Barlow', sans-serif;
  font-size: 4rem;
  color:#f9f9ed;
  text-shadow: 2px 2px 2px #1c0b0a;
  position:relative;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.imageContainer {
  height: 100vh;
}

.quoteContainer{
  position:absolute;
  bottom: 7rem;
  right: 4rem;
  border-radius: 1.5rem;
  width: 25%;
  text-align: left;
  color: white;
  background-color: hsla(0, 7%, 32%, 0.6);
  padding: 25px;
  text-shadow: 2px 2px 2px #000000;
}

.quoteContainer p{
  font-size:calc(12px + 0.8vw);
}

/* slideshow speed change */
.slideSpeed {
   position: absolute;
   bottom: 1rem;
   right: 4rem;
   border-radius: 1.5rem;
   background-color: #E7635D;
}
.slideSpeed button{
   background-color: inherit;
   color: #f9f9ed;
   font-size: 2rem;
   margin: 0.2rem;
   padding: 1rem;
   border-radius: 1.5rem;
}
.slideSpeed button:hover{
   background-color: #f9f9ed;
   color: #E7635D;
}
.slideSpeed button:focus{
   background-color: #f9f9ed;
   color: #E7635D;
}

/*-------------------------------------------------FOOTER----------------------------------------------*/
footer {
  color: #f9f9ed;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
  height: 30px;
}

/* @media (max-height: 800px) {
  footer {
    display: none;
  }
} */



/*------------------------------------------------CategoryForm---------------------------------------*/
.formContainer{
  background-repeat: no-repeat;
  background-size: cover;
  height: 97vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.categoryName h2{
  font-size: 8rem;
  font-weight: bold;
  color:#ededc3;
  font-family: 'Cormorant Garamond', serif;
}
.categoryForm{
  width:40%;
  align-self: flex-end;
  margin-bottom:50px;
  background-color: rgb(237, 237, 196);
  padding:2rem;
  border-radius: 15px;
}
.categoryForm legend{
  margin-bottom: 20px;
  font-size: 3rem;
  color:#d03529;
  font-weight:bold;
  width:100%;
  text-align: center;
}
.noteTextArea{
  margin-bottom: 20px;
  width:100%;
}
.noteTextArea textarea{
  border:none;
  resize: none;
  outline:none;
  width:100%;
  height: 50px;
  line-height: 50px;
  font-size: 3rem;
  border-radius: 15px;
  background-color: #f9f9ed;
  border:#e7635d 2px;
  padding:0 1rem;
}
.noteTextArea textarea:focus,
.noteTextArea textarea:active{
  outline:#d03529 solid 1px;
}
.slideshowStartBtn{
  height: 50px;
  outline:none;
  background: #e7635d;
  border-radius: 15px;
  padding:1rem;
  color:#ededc3;
}
.slideshowStartBtn:hover,
.slideshowStartBtn:focus{
  background: #d03529;
  outline:#d03529 solid 1px;
  outline-offset: 2px;
}
::placeholder {
  color: #e7635d;
  font-size: 2rem;
}